@media only screen and (max-width: 1330px) {
	.gallerybox > .img {
		height: 200px !important;
	}
	.gallerybox .imgs img {
		min-height: 2em !important;
	}
	.tablayout {
		gap: 0;
	}

	#w-ingfokanime > .d-flex,
	#w-serat > .d-flex,
	#w-comikaze > .d-flex {
		gap: 1em !important;
	}

	#w-ingfokanime .gallerybox,
	#w-serat .gallerybox,
	#w-comikaze .gallerybox {
		max-width: 400px;
	}
	#w-ingfokanime .tablayout .contents > div.c1,
	#w-serat .tablayout .contents > div.c1,
	#w-comikaze .tablayout .contents > div.c1 {
		padding-bottom: 1em !important;
	}
}

@media only screen and (max-width: 1025px) {
	main {
		padding: 0 7em;
	}
	aside.fix-l {
		left: 1em;
	}
	aside.fix-r {
		right: 1em;
	}
	.grid-lg {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
}
@media only screen and (max-width: 992px) {
	main {
		padding: 0 2em 0 5em;
	}
	aside.fix-r {
		display: none;
	}

	/* COMPONENT  */
}

@media only screen and (max-width: 768px) {
	* {
		font-size: 14px;
	}
	header nav {
		position: absolute;
		background-color: var(--bg-tint);
		left: 50%;
		border-radius: 0.5em;
		top: 50%;
		height: 0;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 0 4em;
		transform: translateX(-20%) scale(0.3);
		transform-origin: 100% 0;
		transition: all 0.2s;
		overflow: hidden;
	}
	header nav.show {
		top: 120%;
		padding: 2em 4em;
		height: auto;
		transform: translate(-50%, 0) scale(1);
	}
	header nav .link {
		font-size: 1.7em;
		margin-bottom: 0.75em;
	}
	header nav .btn {
		font-size: 1.7em;
	}
	header > .btn,
	header nav .social {
		display: flex !important;
	}

	aside.fix-l {
		display: none;
	}

	main {
		scroll-snap-type: none;
		padding: 0 4em;
	}
	main > section {
		min-height: auto;
		padding: 3em 0;
	}
	main > section:last-child {
		padding-bottom: 10em;
	}
	main section > div {
		max-height: none;
	}
	main section > div.d-flex {
		margin-top: 3em;
		gap: 1em !important;
		align-items: flex-start !important;
		flex-direction: column !important;
	}
	main section > div.d-flex .minor {
		max-width: none !important;
		width: 100%;
		align-items: flex-start !important;
	}

	/* BASE OVERRIDE  */
	.d-grid {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
	.grid-min {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
	.grid-col-2 {
		grid-template-columns: auto auto;
	}

	/* COMPONENT*/
	.figurify {
		max-height: 180px;
	}

	.gallerybox > .img {
		height: 320px !important;
	}
	.gallerybox .imgs img {
		min-height: 3em !important;
	}

	#exp-spoil .align-end,
	#ab-spoil .align-end,
	#ab-tech .align-end {
		text-align: start !important;
	}

	#contact .d-flex .minor {
		max-width: none;
	}

	#w-ingfokanime > .d-flex,
	#w-serat > .d-flex,
	#w-comikaze > .d-flex {
		gap: 3em !important;
	}

	#w-ingfokanime .tablayout .contents > div.c1,
	#w-serat .tablayout .contents > div.c1,
	#w-comikaze .tablayout .contents > div.c1 {
		padding-bottom: 3em !important;
	}
}
@media only screen and (max-width: 600px) {
	header {
		padding: 1em;
	}
	main {
		padding: 0 3em;
	}

	/* BASE OVERRIDE  */
	.load-screen figure {
		transform: scale(0.9);
	}
	.grid-md {
		grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)) !important;
	}

	/* CONTENT*/
	#home > div h1 {
		font-size: 3em;
	}
	#works-spoil .d-grid {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	/* COMPONENT  */
	.gallerybox > .img {
		height: 240px !important;
	}
}
@media only screen and (max-width: 480px) {
	* {
		font-size: 13px;
	}
	header nav .link {
		font-size: 1.5em;
	}
	header nav .btn {
		font-size: 1.5em;
	}
	.load-screen figure {
		transform: scale(0.8);
	}
}
@media only screen and (max-width: 370px) {
	* {
		font-size: 12px;
	}
	main {
		padding: 0 2em;
	}
	#works-spoil .d-grid {
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	}
	/* COMPONENT  */
	.gallerybox > .img {
		height: 180px !important;
	}
}
@media only screen and (max-width: 320px) {
	* {
		font-size: 10px;
	}
	main {
		padding: 0 1em;
	}
	#works-spoil .d-grid {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
	.load-screen figure {
		transform: scale(0.6);
	}
}
/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
} */
